/* .home-img .img-box {
  position: relative;
  width: 28vw;
  height: 28vw;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
} */

.img-box::before,
.img-box::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background: conic-gradient(transparent, transparent, transparent, #7cf03d);
  transform: rotate(0deg);
  animation: rotate-border 10s linear infinite;
}
.img-box::after {
  animation-delay: -5s;
}

@keyframes rotate-border {
  100% {
    transform: rotate(360deg);
  }
}

/* .home-img .img-box .img-item {
  position: relative;
  width: 100%;
  height: 100%;
  background: #1f242d;
  border: 0.1px solid #1f242d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}

.home-img .img-box .img-item img {
  position: absolute;
  display: block;
  top: 30px;
  width: 85%;
  object-fit: cover;
  mix-blend-mode: lighten;
} */
